<div class="row" ng-controller="articleController as article">
    <articles ng-repeat="oneArticle in article.articles" on-finish-render="ngRepeatFinished">
        <div class="col-lg-5" ng-show="oneArticle.info">
            <article class="panel">
                {{oneArticle.info.query}}
                <div class="panel-bg-cover">
                    <img class="img-responsive" src="{{oneArticle.info.image}}" alt="Image">
                </div>
                <div class="panel-media">
                    <img src="{{oneArticle.info.bubble}}" class="panel-media-img img-circle img-border-light" alt="Profile Picture">
                    <div class="row">
                        <div class="col-lg-7">
                            <h3 class="panel-media-heading">{{oneArticle.info.imageTitle}}</h3>
                            <a href="{{oneArticle.link1.uri}}" class="btn-link">{{oneArticle.info.link1.label}}</a>
                            <p class="text-muted mar-btm">{{oneArticle.info.comment}}</p>
                        </div>
                        <div class="col-lg-5 text-lg-right">
                            <a ng-click="search.deleteArticle(oneArticle._id)">
                                <button class="btn btn-danger btn-labeled fa fa-remove">Delete</button>
                            </a>
                            <button class="btn btn-sm btn-mint btn-icon fa fa-envelope icon-lg"></button>
                        </div>
                    </div>
                </div>
                <div class="panel-body no-padding-top">
                    <h4>{{oneArticle.info.title}}</h4>
                    {{oneArticle.info.summary}}
                </div>
            </article>
        </div>

        <!--<div class="col-lg-5" ng-show="oneArticle.weather">-->
            <!--<article class="panel ">-->
                <!--<div class="panel-heading">-->
                    <!--<h3 class="panel-title">Weather in {{oneArticle.info.query}}</h3>-->
                <!--</div>-->
                <!--<div class="panel-body weather">-->
                    <!--{{oneArticle.weather}}-->
                <!--</div>-->
            <!--</article>-->
        <!--</div>-->
        <div class="col-lg-6" ng-show="oneArticle.weatherDetails">
            <article class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Weather in {{oneArticle.info.query}}</h3>
                </div>
                <div class="panel-body">
                    <table id="demo-dt-selection" class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th ng-repeat="(key, value) in oneArticle.weatherDetails[0]">
                                <span ng-hide="key=='_id'">{{key}}</span>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="weather in oneArticle.weatherDetails" on-finish-render="ngRepeatFinished">
                        <td ng-repeat="(key, weatherData) in weather">
                            <span ng-hide="key=='_id'">{{weatherData}}</span>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </article>
        </div>
    </articles>
</div>