<div class="container-fluid">
    <div class="row">
        <div class="col-md-12" ng-controller="calendarController as calendar" style="background-color: white">
            <h2 class="text-center ng-binding">April 2015</h2>

            <div class="row">

                <div class="col-md-6 text-center">
                    <div class="btn-group">

                        <button class="btn btn-primary" ng-click="calendarControl.prev()">Previous</button>
                        <button class="btn btn-default" ng-click="setCalendarToToday()">Today</button>
                        <button class="btn btn-primary" ng-click="calendarControl.next()">Next</button>
                    </div>
                </div>

                <br class="visible-xs visible-sm">

                <div class="col-md-6 text-center">
                    <div class="btn-group">
                        <label class="btn btn-primary ng-pristine ng-untouched ng-valid" ng-model="calendarView" btn-radio="'year'">Year</label>
                        <label class="btn btn-primary ng-pristine ng-untouched ng-valid active" ng-model="calendarView" btn-radio="'month'">Month</label>
                        <label class="btn btn-primary ng-pristine ng-untouched ng-valid" ng-model="calendarView" btn-radio="'week'">Week</label>
                        <label class="btn btn-primary ng-pristine ng-untouched ng-valid" ng-model="calendarView" btn-radio="'day'">Day</label>
                    </div>
                </div>

            </div>

            <br>
            <mwl-calendar
                    calendar-events="events"
                    calendar-view="calendarView"
                    calendar-current-day="calendarDay"
                    calendar-control="calendarControl"
                    calendar-event-click="eventClicked($event)"
                    calendar-edit-event-html="'<i class=\'glyphicon glyphicon-pencil\'></i>'"
                    calendar-delete-event-html="'<i class=\'glyphicon glyphicon-remove\'></i>'"
                    calendar-edit-event-click="eventEdited($event)"
                    calendar-delete-event-click="eventDeleted($event)"
                    calendar-auto-open="true">
            </mwl-calendar>
        </div>
    </div>
</div>
